body{
    font-family:Arial,sans-serif;
    line-height: 1.6;
    margin:0;
    padding: 20px;

}
table{
    width: 100%;
    border-collapse: collapse;

}
th,td{
    border:1px solid #ddd;
    background-color: red;

}